body {

    background-color: rgb(138, 103, 14);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../assets/imagens/1.gif");
    background-size: cover;
}

img {
    width: 600px;
    height: 500px;
    border-radius: 50px;
}