body{
    margin: 0;
    padding: 0;
    background-color: rgb(145, 210, 231);
}

#navbar{
    background-color: lightblue;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#escudo{
    width: 65px;
}

#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px;

    background-color: rgba(93, 146, 163, 0.562);
}
.noticia{
    background-color: rgba(170, 170, 170, 0.678);
    border: 1px solid black; 

}
.img_noticia{
    width: 800px;
}