#links{

}
#navbar{
    background-color: lightblue;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#escudo{
    width: 65px;
}
